{
  "kind": "Template",
  "apiVersion": "v1",
  "metadata": {
    "name": "{{ repo_name }}-svc-template",
    "creationTimestamp": null
  },
  "objects": [
    {
      "kind": "DeploymentConfig",
      "apiVersion": "v1",
      "metadata": {
        "name": "${APP}-${COMPONENT}",
        "generation": 1,
        "creationTimestamp": null,
        "labels": {
          "app": "${APP}"
        },
        "annotations": {
          "openshift.io/generated-by": "OpenShiftNewApp"
        }
      },
      "spec": {
        "strategy": {
          "type": "Rolling",
          "rollingParams": {
            "updatePeriodSeconds": 1,
            "intervalSeconds": 1,
            "timeoutSeconds": 600,
            "maxUnavailable": "25%",
            "maxSurge": "25%"
          },
          "resources": {},
          "activeDeadlineSeconds": 21600
        },
        "triggers": [
          {
            "type": "ConfigChange"
          }
        ],
        "replicas": "${{ tomcat_info }}",
        "revisionHistoryLimit": 10,
        "test": false,
        "selector": {
          "app": "${APP}",
          "deploymentconfig": "${APP}-${COMPONENT}"
        },
        "template": {
          "metadata": {
            "creationTimestamp": null,
            "labels": {
              "app": "${APP}",
              "deploymentconfig": "${APP}-${COMPONENT}"
            },
            "annotations": {
              "ecs.o2c.secretsnicknames": "${SECRET}",
              "ecs.o2c.certificatesnicknames": "${CERT}",
              "openshift.io/generated-by": "OpenShiftNewApp"
            }
          },
          "spec": {
            "containers": [
              {
                "name": "${APP}",
                "image": "${IMAGE_ADMIN}",
                "ports": [
                  {
                    "containerPort": 20000,
                    "protocol": "TCP"
                  }
                ],
                "env": [
                  {
                    "name": "CUSTOM_JAVA_OPTS",
                    "valueFrom": {
                      "configMapKeyRef": {
                        "name": "{{ repo_name }}-svc-config",
                        "key": "CUSTOM_JAVA_OPTS"
                      }
                    }
                  },
                  {
                    "name": "ENVIRONMENT",
                    "value": "${ENVIRONMENT}"
                  },
                  {
                    "name": "CERT_ORDER_ID",
                    "value": "${CERT_ORDER_ID}"
                  },
                  {
                    "name": "APPD_HOST",
                    "value": "${APPD_HOST}"
                  },
                  {
                    "name": "APPD_APPSNM",
                    "value": "${APPD_APPSNM}"
                  },
                  {
                    "name": "APPD_CSIID",
                    "value": "${APPD_CSIID}"
                  },
                  {
                    "name": "APPD_APPENV",
                    "value": "${APPD_APPENV}"
                  },
				  {
                    "name": "MAX_MEM",
                    "value": "${MAX_MEM}"
                  },
				  {
                    "name": "TZ",
                    "value": "${TZ}"
				  }
                ],
                "resources": {
                  "limits": {
                    "cpu": "${CPUL}",
                    "memory": "${MEML}"
                  },
                  "requests": {
                    "cpu": "${CPUR}",
                    "memory": "${MEMR}"
                  }
                },
                "terminationMessagePath": "/dev/termination-log",
                "terminationMessagePolicy": "File",
                "imagePullPolicy": "IfNotPresent"
              }
            ],
            "restartPolicy": "Always",
            "terminationGracePeriodSeconds": 30,
            "dnsPolicy": "ClusterFirst",
            "securityContext": {},
            "schedulerName": "default-scheduler"
          }
        }
      },
      "status": {
        "latestVersion": 0,
        "observedGeneration": 0,
        "replicas": 0,
        "updatedReplicas": 0,
        "availableReplicas": 0,
        "unavailableReplicas": 0
      }
    },
    {
      "kind": "Service",
      "apiVersion": "v1",
      "metadata": {
        "name": "${APP}-${COMPONENT}",
        "creationTimestamp": null,
        "labels": {
          "app": "${APP}"
        },
        "annotations": {
          "openshift.io/generated-by": "OpenShiftNewApp"
        }
      },
      "spec": {
        "ports": [
          {
            "name": "20000-tcp",
            "protocol": "TCP",
            "port": 20000,
            "targetPort": 8082
          }
        ],
        "selector": {
          "app": "${APP}",
          "deploymentconfig": "${APP}-${COMPONENT}"
        },
        "type": "ClusterIP",
        "sessionAffinity": "None"
      },
      "status": {
        "loadBalancer": {}
      }
    },
    {
      "kind": "Route",
      "apiVersion": "v1",
      "metadata": {
        "name": "${APP}",
        "creationTimestamp": null,
        "labels": {
          "app": "${APP}"
        }
      },
      "spec": {
        "host": "${ROUTE_URL}",
        "to": {
          "kind": "Service",
          "name": "${APP}-${COMPONENT}",
          "weight": 100
        },
        "port": {
          "targetPort": "20000-tcp"
        },
        "tls": {
          "termination": "passthrough"
        },
        "wildcardPolicy": "None"
      },
      "status": {
        "ingress": [
          {
            "host": "${COMPONENT}-${PROJECT}.${OCP_CLUSTER}",
            "routerName": "router",
            "conditions": [
              {
                "type": "Admitted",
                "status": "True",
                "lastTransitionTime": "2018-06-08T17:03:34Z"
              }
            ],
            "wildcardPolicy": "None"
          }
        ]
      }
    },
    {
      "kind": "ConfigMap",
      "apiVersion": "v1",
      "metadata": {
        "name": "{{ repo_name }}-svc-config",
        "creationTimestamp": null
      },
      "data": {
        "CUSTOM_JAVA_OPTS": "-DENV=${ENV}"
      }
    }
  ],
  "parameters": [
    {
      "name": "ENV",
      "required": false
    },
    {
      "name": "IMAGE_ADMIN",
      "required": false
    },
    {
      "name": "APP",
      "required": false
    },
    {
      "name": "PROJECT",
      "required": false
    },
    {
      "name": "CPUL",
      "required": false
    },
    {
      "name": "MEML",
      "required": false
    },
    {
      "name": "CPUR",
      "required": false
    },
    {
      "name": "MEMR",
      "required": false
    },
    {
      "name": "OCP_CLUSTER",
      "required": false
    },
    {
      "name": "COMPONENT",
      "required": false
    },
    {
      "name": "ROUTE_URL",
      "required": false
    },
    {
      "name": "SECRET",
      "required": false
    },
    {
      "name": "CERT",
      "required": false
    },
    {
      "name": "ENVIRONMENT",
      "required": false
    },
    {
      "name": "CERT_ORDER_ID",
      "required": false
    },
    {
      "name": "APPD_HOST",
      "description": "the App Dynamic Host information",
      "required": true
    },
    {
      "name": "TOMCAT_NODE_REPLICAS",
      "description": "The replica count of this node. Either 0 or 1.",
      "required": true
    },
    {
      "name": "APPD_APPSNM",
      "description": "the App Dynamic App Name information",
      "required": true
    },
    {
      "name": "APPD_CSIID",
      "description": "the App Dynamic CSI ID information",
      "required": true
    },
    {
      "name": "APPD_APPENV",
      "description": "the App Dynamic Environment information",
      "required": true
    },
	{
      "name": "TZ",
      "description": "TimeZone",
      "required": true
    },
    {
      "name": "MAX_MEM",
      "description": "Maximum Heap Configuration",
      "required": true
    }
  ]
}
