APP={{ repo_name }}-svc
PROJECT=cto-gfts-citi-risk-n-controls-170607
IMAGE_ADMIN=docker-cto-int-local.artifactrepository.citigroup.net/gfts-citi_risk_and_controls-170607/{{ image_name }}_svc:1.0
OCP_CLUSTER=namosegtd03d.nam.nsroot.net
COMPONENT=blue
ENV=dev
ENVIRONMENT=DEV
CERT_ORDER_ID=API_C-f033443e-9ce6-4942-aa44-091c45d8e6e9
CPUL=1000m
MEML=6G
CPUR=100m
MEMR=4G
SECRET={{ repo_name }}dev
CERT=amltest
ROUTE_URL={{ repo_name }}-svc.cto-gfts-citi-risk-n-controls-170607.namosegtd10d.nam.nsroot.net
TOMCAT_NODE_REPLICAS=1
APPD_HOST=OCTO-DEV
APPD_APPSNM=CITICONTROLS
APPD_CSIID=170607
APPD_APPENV=NAM.DEV
MAX_MEM=4g
TZ=America/New_York
